@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

@media print {
  @page {
    margin: 0.5cm;
  }

  body {
    background: white;
  }

  .border-gray-200 {
    border-color: white;
  }

  /* Hide everything except the widgets container */
  .p-4 > *:not(:last-child) {
    display: none;
  }

  /* Remove background colors and adjust borders for better printing */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
